/* HTML要素とbody要素にフルスクリーンの高さとマージンを設定します */
html, body {
    height: 100%;
    margin: 0;
  }

.background {
    width: 100%;
}
  
/* 背景画像をbodyに設定し、画面一面に広げます */
img.clickableImage  {
width: 100%;
  }
  
img.jama {
    width: 20%
    position: fixed;
    top: 0;
    left: 25px;
}



#result {
    margin-top: 20px;
    font-style: italic;
  }

  #result {
    color:red;
    font-weight: bold;
    margin-top: 10px;
  }